br
div.row
	div.col-md-2
		div.panel.panel-success
			div.panel-heading
				span Rank
				br
				h1= delegateobj.rate

	div.col-md-2
		div.panel.panel-success
			div.panel-heading
				span Approval
				br
				h1= delegateobj.approval

	div.col-md-2
		div.panel.panel-success
			div.panel-heading
				span Productivity
				br
				h1= delegateobj.productivity

	div.col-md-2
		div.panel.panel-danger
			div.panel-heading
				span Forged blocks
				br
				h1= delegateobj.producedblocks

	div.col-md-2
		div.panel.panel-danger
			div.panel-heading
				span Missed blocks
				br
				h1= delegateobj.missedblocks

	div.col-md-2
		div.panel.panel-info
			div.panel-heading
				span Alive
				br
				span
					if alive == true
						h1 Yes
					else
						h1 No

	div.col-md-3
		div.panel.panel-warning
			div.panel-heading
				span Balance
				br
				h3= balance



	div.col-md-6
		div.panel.panel-default
			div.panel-heading
				span Blocks to forge
				br
				each d in turns
					if d.delegate == delegate
						h3
							span= d.blocks
							span &nbsp;blocks&nbsp;(
							if d.avgtime <= 60
								span= d.avgtime + ' sec)'
							else
								span= Math.floor (d.avgtime / 60) + ' min and ' + (d.avgtime % 60) + ' sec)'


	div.col-md-3
		div.panel.panel-warning
			div.panel-heading
				span Forged
				br
				h3= forged
br