div.row
	div.col-md-2
		div.panel.panel-success
			div.panel-heading
				span Rank
				br
				h3= delegateobj.rate

	div.col-md-2
		div.panel.panel-success
			div.panel-heading
				span Approval
				br
				h3= delegateobj.approval

	div.col-md-2
		div.panel.panel-success
			div.panel-heading
				span Productivity
				br
				h3= delegateobj.productivity

	div.col-md-2
		div.panel.panel-danger
			div.panel-heading
				span Forged blocks
				br
				h3= delegateobj.producedblocks

	div.col-md-2
		div.panel.panel-danger
			div.panel-heading
				span Missed blocks
				br
				h3= delegateobj.missedblocks

	div.col-md-2
		div.panel.panel-info
			div.panel-heading
				span Alive
				br
				span
					if alive == true
						h3 Yes
					else
						h3 No

	div.col-md-3
		div.panel.panel-warning
			div.panel-heading
				span Balance
				br
				h3= balance



	div.col-md-6
		div.panel.panel-default
			div.panel-heading
				span Blocks to forge
				br
				each d in turns
					if d.delegate == delegate
						h3
							span= d.blocks
							span &nbsp;blocks&nbsp;(
							if d.avgtime <= 60
								span= d.avgtime + ' sec)'
							else
								span= Math.floor (d.avgtime / 60) + ' min and ' + (d.avgtime % 60) + ' sec)'

	div.col-md-3
		div.panel.panel-warning
			div.panel-heading
				span Forged
				br
				h3= forged

			

table.table.table-striped.table-condensed.table-hover
	thead
		tr 
			th Period
			th Forged LSK
			th Forged BTC
			th Forged USD
			th Forged EUR
	tbody
		each period in stats.periods
			tr
				td= period.text
				td= period.lsk
				td= period.btc
				td= period.usd
				td= period.eur

div
		div.panel.panel-default
			div.panel-heading
				b Voters
				br
				each v in stats.votes
					span= v + ' '