table.table.table-striped.table-condensed.table-hover
				tr
					th Rank
					th Username
					th Productivity
					th Approval
					th Forged blocks (missed)
					th Balance
					th Forged
					th Status

				each d in delegates
					tr
						td= d.rate
						td
							a(onclick="delegateClick('"+d.username+"')")= d.username
						td= d.productivity
						td= d.approval
						td
							span= d.producedblocks
							span &nbsp;(
							span= d.missedblocks
							span )
						td
							span= balances[d.address]
						td
							span= forged[d.address]
						td
							if alive[d.address] == true
								span(style="color: #009900").glyphicon.text-primary.glyphicon-ok
							else
								span(style="color: #990000").glyphicon.text-primary.glyphicon-remove


				each d in outsides
					tr
						td= d.rate
						td
							a(onclick="delegateClick('"+d.username+"')")= d.username
						td= d.productivity
						td= d.approval
						td
							span= d.producedblocks
							span &nbsp;(
							span= d.missedblocks
							span )
						td
							span= balances[d.address]
						td
							span= forged[d.address]
						td
							span(style="color: #f39c12").glyphicon.text-primary.glyphicon-minus-sign
							
				each addr in addresses
					tr
						td &nbsp;
						td= addr
						td &nbsp;
						td &nbsp;
						td &nbsp;
						td= balances[addr]
						td 0
						td
							span(style="color: #3498db").glyphicon.text-primary.glyphicon-eye-open

