div.row
				div.col-md-2
					div.panel.panel-success
						div.panel-heading
							div.row
								div.col-md-4
									span(style="font-size: 300%; color: #fff").glyphicon.text-primary.glyphicon-user
								div.col-md-8
									span Delegates
									br
									span= stats.delegates
									if !all && all
										span &nbsp;(
										span= stats.outsides
										span &nbsp; outside)


				div.col-md-3
					div.panel.panel-info
						div.panel-heading
							div.row
								div.col-md-4
									span(style="font-size: 300%; color: #fff").glyphicon.text-primary.glyphicon-book
								div.col-md-8
									span Forged
									br
									span= stats.mined
									span= ' (' + stats.minedshift + ' ' + coin + ')'

				div.col-md-3
					div.panel.panel-warning
						div.panel-heading
							div.row
								div.col-md-4
									span(style="font-size: 300%; color: #fff").glyphicon.text-primary.glyphicon-plus
								div.col-md-8
									span
										span= stats.coin
										span Sum
									br
									span= stats.shift + ' ' + coin


				div.col-md-2
					div.panel.panel-info
						div.panel-heading
							div.row
								div.col-md-4
									span(style="font-size: 300%; color: #fff").glyphicon.text-primary.glyphicon-sort-by-attributes-alt
								div.col-md-8
									span Height
									br
									span= height

				div.col-md-2
					div.panel.panel-danger
						div.panel-heading
							div.row
								div.col-md-4
									span(style="font-size: 300%; color: #fff").glyphicon.text-primary.glyphicon-alert
								div.col-md-8
									span Red state
									br
									span= stats.notalive

