table.table.table-striped.table-condensed.table-hover
	tr
		th Delegate 
		th Blocks to forge
		th Average time to forge
		th Productivity
		th Forged blocks
		th Missed blocks
		th Forged (LSK)
		th Status

	each d in turns
		tr
			td
				a(onclick="delegateClick('"+d.delegate+"')")= d.delegate
			td
				if d.blocks == 0
					span(style="color: #009900")
						span.glyphicon.text-primary.glyphicon-refresh
						span= ' Forging...'
				else
					span= d.blocks

			td
				if d.avgtime <= 60
					span= d.avgtime + ' sec'
				else
					span= Math.floor (d.avgtime / 60) + ' min and ' + (d.avgtime % 60) + ' sec'
			td= delegatesDict[d.delegate].productivity
			td= delegatesDict[d.delegate].producedblocks
			td= delegatesDict[d.delegate].missedblocks
			td= forged[delegatesDict[d.delegate].address]
			td
				if alive[delegatesDict[d.delegate].address] == true
					span(style="color: #009900").glyphicon.text-primary.glyphicon-ok
				else
					span(style="color: #990000").glyphicon.text-primary.glyphicon-remove